<strong>Olá {{ deliveryman }},</strong>
<p>Há uma nova entrega registrada, seguem abaixo as informações: </p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Endereço: </strong> {{ street }}, N° {{ number }}-{{ complement }},
  {{ city }} - {{ state }}, Cep: {{ zipcode }} <br />
  <strong>Destinatário: </strong> {{ name }} <br />
  <strong>Data do registro: </strong> {{ date }} <br /><hr />
  <p>O produto já se encontra disponível para retirada!</p>
</p>
